* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/images/img1.jpg);
    height: 70vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.74;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    display: flex;
    align-items: center;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    height: 62px;
}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;

}

.hero {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 20px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-weight: bolder;
    font-size: 48px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 500;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.separation {
    height: 5px;
    background-color: rgb(68, 68, 68);
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(23, 23, 23, 0.2);
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 600;
}

.btn-red-sm {
    background-color: red;
    color: white;
    border-radius: 4px;
    padding: 3px;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    color: white;
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.2);
    border: 1px solid rgba(253, 252, 252 0.5);
    font-weight: 700;
}

.secImg {
    position: absolute;
    cursor: pointer;
    margin: 10px 50px;
}

.separation1 {
    margin: 315px 0 0;
    height: 5px;
    background-color: rgb(68, 68, 68);
}

.box1 {
    background-color: rgba(23, 23, 23, 0.2);
    color: white;
    height: 40vh;
    width: 20vw;
    display: inline-block;
    margin: 50px 32px;

}

.box2 {
    background-color: rgba(23, 23, 23, 0.2);
    color: white;
    height: 40vh;
    width: 20vw;
    display: inline-block;
    margin: 50px 32px;
}


.box3 {
    background-color: rgba(23, 23, 23, 0.2);
    color: white;
    height: 40vh;
    width: 20vw;
    display: inline-block;
    margin: 50px 32px;
}

.box4 {
    background-color: rgba(23, 23, 23, 0.2);
    color: white;
    height: 40vh;
    width: 20vw;
    display: inline-block;
    margin: 50px 32px;
}

.box1 :nth-child(1) {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 10px;
    display: flex;
}

.box1 :nth-child(2) {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    font-weight: 100;
    margin: 10px;
    display: flex;
}

.box2 :nth-child(1) {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 10px;
    display: flex;
}

.box2 :nth-child(2) {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    font-weight: 100;
    margin: 10px;
    display: flex;
}

.box3 :nth-child(1) {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 10px;
    display: flex;
}

.box3 :nth-child(2) {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    font-weight: 100;
    margin: 10px;
    display: flex;
}

.box4 :nth-child(1) {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 10px;
    display: flex;
}

.box4 :nth-child(2) {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    font-weight: 100;
    margin: 10px;
    display: flex;
}
.faq{
    background-color: black;
    color: white;
}
.faq h2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.faqbox{
    display: flex;
    padding: 24px;
    max-width: 40vw;
    margin:34px auto;
    justify-content: space-between;
    background-color: rgb(65, 65, 65);
    cursor: pointer;
}